Instruction Test JE,./test_code/instructions/JE
Instruction Test JG,./test_code/instructions/JG
Instruction Test JGE,./test_code/instructions/JGE
Instruction Test JL,./test_code/instructions/JL
Instruction Test JLE,./test_code/instructions/JLE
Instruction Test JMP,./test_code/instructions/JMP
Instruction Test JNE,./test_code/instructions/JNE
Instruction Test SET,./test_code/instructions/SET